.contact-form-container {
  display: flex;
  flex-wrap: wrap; /* Enable wrapping */
  justify-content: space-between;
  align-items: flex-start;
  max-width: 800px;
  margin: 50px auto;
  margin-bottom: 15%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form-info {
  flex: 1;
  margin-right: 20px;
  text-align: left;
  min-width: 250px; /* Minimum width for better responsiveness */
}

.contact-form-info h2 {
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
}

.contact-form-info p {
  margin-bottom: 20px;
  font-size: 12px;
  color: #555;
}

.contact-info {
  margin-bottom: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-item svg {
  margin-right: 10px;
  color: #555;
}

.contact-item a {
  font-size: 14px;
  color: #3e4c55;
  text-decoration: none;
}

.contact-item a:hover {
  text-decoration: underline;
  color: rgb(49, 109, 198);
}

.contact-item span {
  font-size: 14px;
  color: #555;
}

.contact-form {
  flex: 2;
  min-width: 300px; /* Minimum width for better responsiveness */
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.contact-form button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.contact-form .success-message,
.contact-form .error-message {
  margin-top: 20px;
  font-size: 14px;
}

.contact-form .success-message {
  color: green;
}

.contact-form .error-message {
  color: red;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .contact-form-container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .contact-form-info {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center; /* Center text on smaller screens */
  }

  .contact-form {
    min-width: 100%;
  }
}

/* Media query for screens smaller than 480px */
@media (max-width: 480px) {
  .contact-form-info h2 {
    font-size: 18px;
  }

  .contact-form-info p {
    font-size: 11px;
  }

  .contact-info span {
    font-size: 12px;
  }

  .contact-item a {
    font-size: 12px;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 14px;
  }

  .contact-form button {
    font-size: 14px;
  }

  .contact-form .success-message,
  .contact-form .error-message {
    font-size: 12px;
  }
}
